<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <title>JukeBox</title>

  <!-- Styles -->
  <script type="text/javascript" src="/js/ejs.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Dosis:300,600">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">


  <!-- Favicons -->
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="icon" href="img/favicon.png">
</head>

<body class="body-scrolled">


  <!-- Topbar -->
  <nav class="nav">
    <div class="container">
      <div class="topbar">      
        <div class="topbar-left"><a id='logo' href="/"><h1>JukeBox</h1></a></div>
        <div class="topbar-right">
          <a class="sign-in" href="">Sign in</a>
          <a class="sign-up" href="/users/login">Sign up</a>
        </div>
      </div>

    </nav>
    <!-- END Topbar -->





    <!-- Main container -->
    <main class="main-content">

      <section class="section">
        <div class="container">

          <div class="row">
            <div class="col-sm-8">
            <div id="aplayer" class="aplayer"></div>
              <div class="tracklist"> 
                <% for(var i = 0; i < user.tracks.length; i++){%>
                <div class="track"> 
                 <a target="_blank" href="<%= user.tracks[i].url %>">
                  <img src="/img/play.png" alt="...">
                </a>
                <a target="_blank" href='<%= user.tracks[i].url %>'>
                 <h5><%= user.tracks[i].name %></h5>
               </a>
               <p><%= user.tracks[i].timestamp %></p>
               <h4 class="share">Share</h4>
             </div>
             <hr>
             <%}%>
           </div>

         </div>


         <div class="col-sm-4">
          <div class="profile text-center">
            <div id="profile-icon"><img src="<% if(user.image[0]) {%><%= user.image %><%}%>"  alt="">

            </div>
            <span >Click to change</span>
            <h3><% if(user){%> <%= user.username %> <%} %></h3>
            <hr>
            <ul>
             <li><%= user.tracks.length %> Tracks</li>
           </ul>
           <button id="btn-upload" class="btn btn-info">Upload Track</button>
         </div>


       </div>
     </div>



   </div>
 </section>






</main>
<!-- END Main container -->






<!-- Footer -->
<footer class="site-footer">

</footer>
<!-- END Footer -->



<!-- Scripts -->
<script src="https://cdn.turbo360-dev.com/dist/turbo.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.6.0/APlayer.min.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<script src="/js/dropzone.js"></script>
<script src="/js/app.js"></script>


</body>
</html>
